/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/colorTokens.js
 */

$color-primary: #b4985b !default;
$color-on-primary: #403111 !default;
$color-secondary: #231f20 !default;
$color-on-secondary: #8B8587 !default;

$base-color-tokens: ("primary", "secondary");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
}